<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/unique.css">
    <title>Quantum Armory - Unique Features</title>
</head>
<body>
    <header>
        <div class="logo">Quantum Armory</div>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="#">Unique Features</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
        <div class="cart">Cart</div>
    </header>

    <section class="unique-features">
        <h2>Unique Features</h2>
        <div class="feature-card">
            <img src="./img/unique/sci-fi-xr45b0hdu0yl8jba.jpg" alt="Feature 1 Image">
            <h3>Advanced Materials</h3>
            <p>Our weapons are crafted from cutting-edge materials for enhanced durability and performance.</p>
        </div>
        <div class="feature-card">
            <img src="./img/unique/maxresdefault.jpg" alt="Feature 2 Image">
            <h3>Smart Technology Integration</h3>
            <p>Experience the power of smart technology with weapons that adapt to your needs in real-time.</p>
        </div>
        <div class="feature-card">
            <img src="./img/unique/c29495436c1a42fe90e5a1304638f45f.webp" alt="Feature 3 Image">
            <h3>Customization Options</h3>
            <p>Personalize your arsenal with a wide range of customization options to suit your unique preferences.</p>
        </div>
    </section>

    <section class="customer-testimonials">
        <h2>Customer Testimonials</h2>
        <div class="testimonial">
            <p>"The advanced features of Quantum Armory's weapons exceeded my expectations. Truly impressive!"</p>
            <p class="user">- Spock</p>
        </div>
        <div class="testimonial">
            <p>"I've never experienced weapons like these. The customization options are unparalleled!"</p>
            <p class="user">- Jean Luc Picard</p>
        </div>
    </section>

    <footer>
        <ul>
            <li><a href="index.ejs">Home</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </footer>

</body>
</html>
